<div class="search-page">
  <% if @question.exists? %>
    <h2 class="search-page-title">Результат поиска:</h2>
  <% else %>
    <h2 class="search-page-title">Ничего нет</h2>
  <% end %>

  <br/>

  <div class="results">
    <% @question.each do |question|%>
      <div>
        <%=link_to question_path(question) do %>
          <ul>
            <li>Вопрос: <%= question.text %></li>
            <li>Ответ: <%= question.answer %></li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
