<%= stylesheet_link_tag 'hash_tag', media: 'all', 'data-turbolinks-track': 'reload' %>
<div id="hashtag-exception">
  <div id="hashtag-exception-body">
    <div id="hashtag-exception-main">
      <h2> Хэштега <span> #<%= @exception %> </span> еще никто не создавал, можете быть первым! </h2>
      <%= link_to "Перейти на главную страницу", root_path %>
    </div>
  </div>
</div>
