<div>
  <h3> Вопросы с хэштегом: <span> #<%= @hash_tag.name %> </span> </h3>
  <% @questions.each do |question| %>
    <%= render partial: 'questions/question', object: question %>
  <% end %>
</div>
