#hashtag-exception {
  box-sizing: border-box;
  background: #131417;
}

#hashtag-exception-body {
  font: 110%/1.5 system-ui, sans-serif;
  color: white;
  height: 92%;
  margin: 0;
  display: grid;
  place-items: center;
  padding: 2rem;
}

#hashtag-exception-main {
  max-width: 350px;
  text-align: center;
}

#hashtag-exception-main a {
  color: #56BBF9;
}
